/* Estilos para a lista de tickets no painel de administração */

/* Ajuste de largura das colunas */
.post-type-ticket .wp-list-table #ticket_id {
    width: 8%;
}

.post-type-ticket .wp-list-table #status {
    width: 12%;
}

.post-type-ticket .wp-list-table #ticket_type {
    width: 15%;
}

/* Estilo base para as etiquetas de status */
.sts-admin-status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-shadow: none;
    white-space: nowrap;
}

/* Cores das etiquetas de status */
.sts-admin-status.status-aberto {
    background-color: #ffb700; /* Amarelo */
    color: #212529; /* Preto */
}

.sts-admin-status.status-em-andamento {
    background-color: #0582ca; /* Azul Claro */
}

.sts-admin-status.status-resolvido {
    background-color: #028c6a; /* Verde Sucesso */
}